<!-- Intro Section -->
<div class=""></div>
<section class="inner-intro bg-img13">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Web Development</h2>
            <div class="page-breadcrumb">
                <a class="scroll-down" href="#projects">View Projects</a><!--  |  -->
             <!--    <a class="">Résumé</a> |  -->
                <!-- <a class="scroll-down" href="#Education">Education</a> |  -->
                <!-- <a class="scroll-down" href="#Blog">Blog</a> -->
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->




<!-- OTHER Intro Section-->
<!-- <section id="intro" class="intro-fullscreen" style="height: 365px; min-height: 500px;">

    <div class="intro-media bg-image overlay-dark20 parallax parallax-background2" data-background-img="img/full/05.jpg"></div>
    <div class="intro-caption-waper dark-bg">
        <div class="intro-full-height container" style="height: 365px; min-height: 500px;">
            <div class="intro-content">
                <div class="intro-content-inner">

                    <h6 class="page-title-alt mb-30">Creative People</h6>

                    <h1 class="intro-title mb-30"><span class="text-light">Hello, I am</span>
                        <span class="text-rotate" style="text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; opacity: 1;">John Doe</span>
                    </h1>

                    <a class="btn btn-md btn-color scroll-down" href="#about">Read More</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- End OTHER Static Hero-->

</section>


<!-- About Me -->
<section id="about" class="wow fadeIn ptb ptb-sm-80 animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="h4">About Me</h3>
                <div class="spacer-15"></div>
                <p class="lead">I'm passionate about solving problems and creating value through software. Whether it's a platform to help an organization engage their community or a novel social app to make your friends laugh.</p>
                <!-- <a class="tipped tipper-attached" data-title="Sample Text" data-tipper-options="{&quot;direction&quot;:&quot;top&quot;}"><b>projects</b></a> below.</p> -->
            </div>
        </div>

        <!-- Skills -->
        <!-- End Skills -->   
    </div>
</section>
<!-- End About Me -->









<!-- Work Detail Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="spacer-15"></div>
        <div class="spacer-15" id="projects"></div>
        <div class="spacer-15"></div>
        <h3>Projects</h3>
        <div class="spacer-60"></div>
        
        <!-- work Filter -->
        <div class="row">
            <ul class="container-filter categories-filter">
                <li><a class="categories active" data-filter="*">All</a></li>
                <% Tag.all.each do |tag| %>
                    <li><a class="categories" data-filter=<%= "." + tag.name %>><%= tag.name %></a></li>
                <% end %>
            </ul>
        </div>

        <!-- End Projects Filter -->
        <div class="row container-masonry nf-col-3">
            <% Project.all.each do |project| %>
                <div class="nf-item <%= project.print_tags %> spacing">
                    <div class="item-box">
                        <a href=<%= project_path(project) %>>
                            <%= image_tag project.image_url, class: "item-container" %>
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white"><%= project.title %></h5>
                                    <br>
                                    <p class="white"><%= project.pitch %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- End Projects Detail Section -->
