<section class="inner-intro bg-img13 overlay-light parallax parallax-background2">
  <div class="container">
    <br><br>
    <% @projects.each do |project| %>
      <%= link_to project.title, project_path(project) %>


      <br><br>
    <% end %>
  </div>
</section>


<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="spacer-15"></div>
        <div class="spacer-15" id="projects"></div>
        <div class="spacer-15"></div>
        <h3>Projects</h3>
        <div class="spacer-60"></div>
        
        <!-- work Filter -->
        <div class="row">
            <ul class="container-filter categories-filter">
                <li><a class="categories active" data-filter="*">All</a></li>
                <% Tag.all.each do |tag| %>
                    <li><a class="categories" data-filter=<%= "." + tag.name %>><%= tag.name %></a></li>
                <% end %>
            </ul>
        </div>

        <!-- End Projects Filter -->
        <div class="row container-masonry nf-col-3">
            <% Project.all.each do |project| %>
                <div class="nf-item <%= project.print_tags %> spacing">
                    <div class="item-box">
                        <a href=<%= project_path(project) %>>
                            <%= image_tag "portfolio/#{rand(10) + 1}.jpg", class: "item-container" %>
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white"><%= project.title %></h5>
                                    <br>
                                    <p class="white"><%= project.pitch %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>