 <!-- HEADER -->
        <header class="header">
            <div class="container">
              
                <!-- logo -->
              <div class="logo">
                  <a href=<%= root_path %>>
                    <h3>Kevin Mircovich</h3>
                  </a>
              </div>
               <!--End logo-->

                <!-- Navigation Menu -->
                <nav class='navigation'>
                    <ul>
                        <li>
                            <%= link_to "Projects", projects_path %>
                        </li>

                        <li>
                            <%= link_to "Experience", experiences_path %>
                        </li>

                        <li>
                            <%= link_to "Education", education_index_path %>
                        </li>

                        <li>
                            <%= link_to "Blog", "https://medium.com/@kevinmircovich", target: "_blank" %>
                        </li>
                    </ul>
                </nav>
                <!--End Navigation Menu -->
                  <br>
                <!-- Start Social Icons -->

              <!--   <div class="side-menu-btn">
                  <ul>
                      <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                      <li><a target="_blank" href="#"><i class="fa fa-medium"></i></a></li>
                      <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                </div> -->

                 <!-- Start Social Icons -->

            </div>
        </header>
        <!-- END HEADER -->
